<div class="container content rating">
    <div class="title">
        <h3>Рейтинг на 17 ноября 2017 г.</h3>
    </div>
    <div class="line"></div>
    <div role="article" class="article">
        <table role="table">
            <thead>
            <tr>
                <th rowspan="2">Ник</th>
                <th colspan="2">К-во Игр</th>
                <th colspan="2" class="civilian">Мирный</th>
                <th colspan="2" class="mafia">Мафия</th>
                <th colspan="2" class="civilian">Шериф</th>
                <th colspan="2" class="mafia">Дон</th>
                <th colspan="2">Лучший</th>
                <th rowspan="2">Первый<br>Убитый</th>
                <th rowspan="2">% Побед</th>
                <th rowspan="2">Рейтинг</th>
            </tr>
            <tr>
                <th>Победы</th>
                <th>Поражения</th>
                <th>Победы</th>
                <th>Поражения</th>
                <th>Победы</th>
                <th>Поражения</th>
                <th>Победы</th>
                <th>Поражения</th>
                <th>Победы</th>
                <th>Поражения</th>
                <th>Ход</th>
                <th>Игрок</th>
            </tr>
            </thead>
            <tbody>
            {{#each rating}}
                <tr>
                    <td>{{nickname}}</td>
                    <td class="win"> {{winCount}} </td>
                    <td class="defeat"> {{defeatCount}} </td>
                    <td class="win">{{winCivilians}}</td>
                    <td class="defeat">{{defeatCivilians}}</td>
                    <td class="win">{{winMafia}}</td>
                    <td class="defeat">{{defeatMafia}}</td>
                    <td class="win">{{winSheriff}}</td>
                    <td class="defeat">{{defeatSheriff}}</td>
                    <td class="win">{{winDon}}</td>
                    <td class="defeat">{{defeatDon}}</td>
                    <td>{{bestMove}}</td>
                    <td>{{bestPlayer}}</td>
                    <td>{{firstKilledCount}}</td>
                    <td>{{toFixed winPercentage 0}}</td>
                    <td class="rating">{{rating}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
